.todos {
  
}
.create_grup_cmdb{
	/*float: left;
	margin-right: 10px;*/
}

.delete_grup_cmdb{
	float: left;
}

.create_cmdb_group{
	width: 800px !important;

}
.init1{
	margin-top: 10px;
	margin-bottom: 10px;
}


.Select_heig div{
	width: 80px !important;
}

.Select_heig div ul{
	width: 80px;
}